# Managed by ansible.
# file: {{ template_destpath }}

[Remote]
SplitMode={{ journald_remote_split_mode }}
MaxUse={{ journald_remote_max_use }}
KeepFree={{ journald_remote_keep_free }}
MaxFileSize={{ journald_remote_max_file_size }}
MaxFiles={{ journald_remote_max_files }}
